.leaderboard-container {

}

.ranking-list {
    list-style: none;
    padding: 0;
    width: 40rem;
    margin: auto;
}

.ranking-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}



