

.rent-user-container .rent-user {
    margin-top: 50px;
    font-family: initial;
}

.rent-user .title p {
    margin-left: 430px;
    height: 50px;
    font-size: 30px;
    color: #fa4b2d;
}

.partner_info {
    display: flex;
}

.partner_info .fill-name {
    padding-top: 7px;
    padding-left: 5px;
}
