#inner-info {
    margin-bottom: 20px;
}

.item-nav-name {
    font-family: initial;
    font-size: 20px
}

.item-nav-value {
    color: red;
}

.partner-profile {
    width: 80%;
    margin: auto;
}
.cards {
    width: 25%;
    border: white;
    padding-top: 10px;
    color: lightslategrey;
}

.cards img {
    border-radius: 10px;
    height: 350px;
    width: 300px;
}

.ready {
    margin-top: 12px;
    font-family: initial;
    font-size: 20px;
    color: #04be54;
    margin-left: 90px;
}
.status1 {
    display: flex;
}
.status2 {
    display: flex;
}
.status1 a {
    margin-left: 10px;
    margin-top: 10px;
    color: lightpink;
    font-size: 20px;
}
.status2 a {
    margin-left: 13px;
    margin-top: 10px;
    color: #0022ff;
    font-size: 20px;
}


.dob {
    text-align: center;
    font-family: initial;
    font-size: 20px;
    padding-top: 10px;
}

.info {
    margin: 20px;
    width: 50%;
}

.info h2 {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: bold;
}

hr {
    width: 98%;
}

.action {
    width: 25%;
    height: 320px;
    margin-top: 10px;
    text-align: center;
    border: solid 1px #e1dede;
    border-radius: 10px;
}

.action a {
    border: solid 1px #e1dede;
    margin-bottom: 20px;
    width: 90%;
    height: 55px;
    padding-top: 16px;
    font-family: initial;
    font-weight: bold;
}
.booking {
    color: white;
}

.action h1 {
    margin-top: 10px;
    font-size: 25px;
    color: #fa4b2d;
    font-weight: bold;
    word-wrap:normal;
    text-align: left;
    margin-left: 12px;
    margin-bottom: 60px;
}
.action #update-price {
    margin-top: 10px;
    margin-bottom: 60px;
}
#price {
    margin-top: 10px;
    margin-left: 12px;
    height: 31px;
}

.option {
    margin-top: 20px;
}

.option a {
    width: 100%;
}

.album-of-player img {
    width: 121px;
    height: 121px;
}

.service-name {
    flex: 0 0 auto;
    width: auto;
    margin-bottom: 10px;
}

.profile {
    font-family: initial;
    font-size: 17px;
    margin-top: 20px;
}

.profile p {
    padding-top: 2px;
}
.modal-title {
    margin: auto;
    color: red;
}
.modal-title .service {
    font-weight: bold;
    font-family: Poppins;
    color: red;
}
.modal-footer {
    text-align: center;
    font-family: Poppins;
}
.modal-body {
    font-family: Poppins;
    font-size: 20px;
}
.form-check-label {
    margin-bottom: 0;
    margin-left: 20px;
}