/* UpdateInfo.css */

.btn-update {
    background-color: #a63811; /* Màu cam đỏ */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

/* Định dạng ô radio */
.fieldGroup .d-flex input[type="radio"]:checked + div:before {
    content: '';
    width: 12px;
    height: 12px;
    border: 2px solid #a63811; /* Màu cam đỏ */
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    position: relative;
    top: -2px;
    margin-right: 5px;
}

.fieldGroup .d-flex input[type="radio"]:checked + div {
    color: #a63811; /* Màu cam đỏ */
}
