
* {
    box-sizing: border-box;
}


.menu_header.fix-menu {
    position: fixed;

}
.menu_navbar {
    padding: 10px 15px;
    background-color: #fff;
    border-bottom: 1px solid #dcdcdc;
    z-index: 10;
    position: relative;
}


.menu_header .navbar-header {
    position: relative;
    z-index: 9;
    float: left;
}

.menu_header .logo {
    display: grid;
    grid-template-columns: 52px 1fr;
}

.menu_header .logo img{
    width: 45px;
    height: 45px;
}

img {
    width: 100%;
    vertical-align: middle;
    border: 0;
}

.menu_header a{
    color: #000;
    cursor: pointer;
}

a{
    font-family: Poppins, serif;
}

.menu_header .navbar {
    margin: 0;
    min-height: 45px;
    position: relative;
}

.navbar {
    border: 0;
    font-size: 16px;
    border-radius: 0;
}

.navbar-left {
    float: left!important;
}

.navbar-nav {
    float: left;
    min-width: 768px;
    margin: 0;
}

.nav {
    padding-left: 0;
    list-style: none;
    display: block;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
}

.menu_header .navbar .navbar-nav .item-search{
    margin: 0 3px 0 6px;
}
.navbar-nav>li {
    min-width: 768px;
    float: left;
}

.navbar .navbar-nav>li>a {
    position: relative;
}

.nav>li>a{
    display: block;
}

.nav>li {
    position: relative;
    display: block;
}

.menu_header a {
    color: black;
    cursor: pointer;
}


.nav>li {
    position: relative;
    display: block;
}

ul li{
    list-style: none;
}

div {
    display: block;
    font-family: Poppins, serif;
}

.menu_header .navbar .navbar-nav
.item-search .Group-search {
    height: auto;
}

.Group-search {
    height: 38px;
}

.menu_header .navbar .navbar-nav
.item-search .Group-search .input-group {
    width: 255px;
    margin-top: 3px;
}

.Group-search .input-group {
    height: 100%;
}

.search {
    font-family: Source Sans Pro, serif;
    font-size: 14px;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: initial;
}

.input-group .form-control:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group .form-control {
    display: table-cell;
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}

.form-control {
    background-color: #ffffff;
    box-shadow: none;
    border: 1px solid #e3e3e3;
    border-radius: 13px;
    color: #565656;
    padding: 8px 12px;
    height: 40px;
    transition: all .3s linear;
    background-image: none;
    line-height: 1.42857143;
}

input {
    line-height: inherit;
    font: inherit;
    margin: 0;
}

.Group-search .input-group-addon:last-child {
    border-top-right-radius: 29px;
    border-bottom-right-radius: 29px;
    border-left: none;
    padding: 0;
}

.Group-search .input-group-addon {
    height: 100%;
}

.input-group-addon {
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 0;
    transition: all .3s linear;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
}

span {
    font-family: Poppins, serif;
}

.menu__header .navbar .navbar-nav .item-search .Group-search .input-group .btn-default {
    margin: 0;
    padding: 7px 9px;
}

.Group-search .input-group-addon:last-child button {
    border: none;
    padding: 7px 12px;
}

.navbar .btn {
    margin: 2px 8px;
    font-size: 14px;
}

.btn {
    background-color: initial;
    font-weight: 400;
    opacity: 0.8;
    color: #444;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    line-height: 1.42857143;
    border-radius: 4px;
    user-select: none;
}

.fal {
    font-family: "Font Awesome", serif;
    font-weight: 300;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.search i {
    color: #a1a7af;
}

.fa-search:before {
    content: "\f002";
}
:before {
    box-sizing: border-box;
}

.menu_header .navbar .navbar-nav.navbar-center {
    position: absolute;
    left: 80%;
    transform: translate(-60%);
}

.menu_header .navbar .navbar-nav.navbar-center .item-icon .group-user {
    margin: 0 10px;
}

.menu_header .navbar .navbar-nav .item-icon .group-user {
    margin: 0 0 0 4px;
    background: #e8e8e8;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    text-align: center;
    padding: 10px 0;
}

.group-user {
    transition: color 0.3s; /* Thời gian chuyển đổi màu sắc */
}
.group-user:hover {
    color: #f0564a; /* Màu sắc thay đổi khi hover */
}


.navbar .navbar-nav .item-icon .group-user .fal {
    font-size: 23px;
}

.navbar .navbar-nav>li>a [class^=fa] {
    font-size: 16px;
    position: relative;
    line-height: 16px;
}

.fa-home-alt:before {
    content: "\f80a";
}

.menu_header .navbar .navbar-nav.navbar-right {
    margin-right: 0;
}

.navbar-right {
    min-width: 768px;
    float: right!important;
    margin-right: 15px;
}




