/*[type='reset'],*/
/*[type='submit'] {*/
/*    background-color: #007bff;*/
/*}*/

.-my-75 {
    margin: 20px auto;
    max-width: 1000px;
}

.container-xxl {
    margin: 30px auto;
}

.form-register {
    height: 500px;
}

