#nav {
    top: 0;
    right: 0;
    position: sticky;
    z-index: 999;
}

.content {
    padding: 50px;
}

.footer {
    padding: 20px;
}

.banner {
    margin-top: 150px;
    margin-bottom: 100px;
}

.card {
    margin-bottom: 80px;
    box-shadow: 0 10px 20px rgb(35, 156, 218);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination li {
    padding: 20px;
    color: black;
}

.custom-page {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ccc;
    margin: 2px;
    cursor: pointer;
}

.custom-page.active {
    background-color: cyan;
}

#logo {
    width: 100px;
    height: 45px;
}